<a href="#projects/<%=project.id%>">Title: <%= project.get('title') %></a>
<p>Description: <%= project.get('description')%></p>
<p>Goal: $<%= project.get('goal')%></p>
<p>End date: <%= project.get('end_date')%></p>
