<a href="#projects/<%=project.id%>">Title: <%= project.escape('title') %></a>
<p>Description: <%= project.escape('description')%></p>
<p>Goal: $<%= project.escape('goal')%></p>
<p>End date: <%= project.escape('end_date')%></p>
