<section class="title-section">
  <h1 class:"project-title">Title: <%= project.escape('title') %></h1>
  <p>
    by <a href="#users/<%= project.escape('owner_id')%>"><%= project.escape('owner_name')%></a>
  </p>
</section>

<section class="top-section">
  <p>Goal: $<%= project.escape('goal')%></p>
  <p>End date: <%= project.escape('end_date')%></p>
</section>

<section class="bottom-section">
  <p><%= project.escape('full_description')%></p>
  <div class="rewards">
    <p>Rewards</p>
    <ul class="rewards-list">

    </ul>
  </div>
</section>
