<section class="title-section">
  <h1 class:"project-title">Title: <%= project.escape('title') %></h1>
  <p>
    by <a href="#users/<%= project.escape('user_id')%>"><%= project.escape('user_id')%></a>
  </p>
</section>

<section class="top-section">
  <p>Goal: $<%= project.escape('goal')%></p>
  <p>End date: <%= project.escape('end_date')%></p>
</section>

<section class="bottom-section">
  <p><%= project.escape('full_description')%></p>
  <div class="rewards">

  </div>
</section>
