<section class="top-section group">
  <div class="title-section">
    <h1 class:"project-title">Title: <%= project.escape('title') %></h1>
    <p>
      by <strong><a href="#users/<%= project.escape('owner_id')%>"><%= project.escape('owner_name')%></a></strong>
    </p>
  </div>

  <div class="top-row-1 group">
    <div class="video">
      <img src="<%= project.escape('image_url') %>">
    </div>
    <div class="stats">
      <h1><%= project.escape('num_project_backers')%></h1>
      <label>backers</label>
      <br>
      <br>
      <h1>$<%= project.escape('amt_funded')%></h1>
      <strong>pledged of $<%= project.escape('goal')%> goal</strong>
      <br>
      <br>
      <h1><%= project.escape('time_left')%></h1>
      <strong>days to go</strong>
      <br>
      <label>(End date: <%= project.escape('end_date')%>)</label>
    </div>
  </div>
  <div class="top-row-2 group">
    <div class="blurb">
      Short Desc: <%= project.escape('description')%>
    </div>
    <div class="owner-desc">
      <strong>Owner: <%= project.escape('owner_name')%></strong>
      <div class="owner-desc-sub">
        <p>
          external website: <a href="#"><%= project.escape('owner_name')%></a>
        </p>
        <br>
        <p>
          <a href="#">See full bio</a>
        </p>

      </div>
    </div>
  </div>
</section>

<section class="bottom-section group">
  <div class="bottom-content">
    <div class="full-description">
      <h1>About this project</h1>
      <strong><h1><%= project.escape('full_description')%></h1></strong>

    </div>
    <div class="rewards">
      <h1>Rewards</h1>
      <ul class="rewards-list">

      </ul>
    </div>
  </div>
</section>
