<div id="wrapper">
  <div id="header"></div>
  <div id="main"></div>
  <div id="footer"></div>


  <div class="logo-url hideMeRails">
    <%= asset_path("logo.png") %>
  </div>

  <div class="arrow-left-url hideMeRails">
    <%= asset_path("arrow-left.png") %>
  </div>

  <div class="arrow-right-url hideMeRails">
    <%= asset_path("arrow-right.png") %>
  </div>

  <div class="blueprint-url hideMeRails">
    <%= asset_path("blueprint.jpg") %>
  </div>

  <div class="hills-url hideMeRails">
    <%= asset_path("hills.jpg") %>
  </div>

  <div class="ninja-url hideMeRails">
    <%= asset_path("ninja.jpg") %>
  </div>

  <div class="townsville-url hideMeRails">
    <%= asset_path("townsville.png") %>
  </div>

</div>
