<strong>
  Pledge $<%= reward.escape("pledge_amount")%> or more
</strong>

<p>
  <%= reward.escape("description")%>
</p>
<%= reward.escape("limited_quantity")%>

<div class="delivery-shipping">

</div>
<p>Estimated delivery: <%= reward.escape("estimated_delivery")%></p>
<p>Ships to: <%= reward.escape("shipping_location")%></p>
