<div class="reward-hover">
  <p>Select this reward</p>
</div>
<strong>
  Pledge $<%= reward.escape("pledge_amount")%> or more
</strong>
<br>
<strong>
  * <%= reward.escape("num_reward_backers") %> backers
</strong>
<span>
  <% if ( reward.escape("limited_quantity") != "" )  { %>
  Limited ( <%= parseInt(reward.escape("limited_quantity")) - parseInt(reward.escape("num_reward_backers")) %> left of <%= reward.escape("limited_quantity")%>)
  <% } %>
</span>
<br>
<br>
<p>
  <%= reward.escape("description")%>
</p>

<br>

<div class="delivery-shipping">

    <p>
      Estimated delivery: <%= reward.escape("estimated_delivery")%>
    </p>



    <p>
      Ships to: <%= reward.escape("shipping_location")%>
    </p>
</div>
