<div class="items">

  <div class="slide">
    <img src="<%= Capstone.hills %>"/>
    <h1 class="slide-caption">The world is just waiting for change</h1>
  </div>

  <div class="slide">
    <img src="<%= Capstone.ninja %>"/>
    <h1 class="slide-caption">Make services possible</h1>
  </div>

  <div class="slide">
    <img src="<%= Capstone.townsville %>"/>
    <h1 class="slide-caption">Keep Villainous plots alive</h1>
  </div>

  <div class="slide">
    <img src="<%= Capstone.blueprint %>"/>
    <h1 class="slide-caption">All villains have plans, what are yours?</h1>
  </div>

</div>

<ul class="carousel-circles">
  <li class="carousel-circle" data-id="0"></li>
  <li class="carousel-circle" data-id="1"></li>
  <li class="carousel-circle" data-id="2"></li>
  <li class="carousel-circle" data-id="3"></li>
</ul>

<img class="slide-right" src="<%= Capstone.arrowLeft %>"/>
<img class="slide-left" src="<%= Capstone.arrowRight %>"/>
