<div class="items">

  <div class="slide">
    <img src="<%= Capstone.hills %>"/>
    <div class="slide-content-div">
      <h1 class="slide-caption">The world is just waiting for change</h1>
      <br>
      <br>
      <a class="enter-link" href="#discover">Enter</a>
    </div>
  </div>

  <div class="slide">
    <img src="<%= Capstone.ninja %>"/>
    <div class="slide-content-div">
    <h1 class="slide-caption">Make services possible</h1>
    <br>
    <br>
    <a class="enter-link" href="#discover">Enter</a>
    </div>
  </div>

  <div class="slide">
    <img src="<%= Capstone.townsville %>"/>
    <div class="slide-content-div">
    <h1 class="slide-caption">Keep Villainous plots alive</h1>
    <br>
    <br>
    <a class="enter-link" href="#discover">Enter</a>
    </div>
  </div>

  <div class="slide">
    <img src="<%= Capstone.blueprint %>"/>
    <div class="slide-content-div">
    <h1 class="slide-caption">All villains have plans, what are <i>YOURS?</i></h1>
    <br>
    <br>
    <a class="enter-link" href="#discover">Enter</a>
    </div>
  </div>

</div>

<ul class="carousel-circles">
  <li class="carousel-circle" data-id="0"></li>
  <li class="carousel-circle" data-id="1"></li>
  <li class="carousel-circle" data-id="2"></li>
  <li class="carousel-circle" data-id="3"></li>
</ul>

<img class="slide-right" src="<%= Capstone.arrowLeft %>"/>
<img class="slide-left" src="<%= Capstone.arrowRight %>"/>

<div class="landing-desc">
  <h2>Where projects come from</h2>
  <p>
    Each and every Villain-E project is the independent creation of someone like you. Inspired, then why not start your own?
  </p>
  <br>
  <a href="#projects/new">Go</a>
</div>
