<!DOCTYPE html>
<html>
<head>
  <title>Villian-E</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <script>
    var categories = [];
    <% Project::CATEGORIES.each do |category| %>
      categories.push("<%= category.html_safe %>");
    <% end %>

    var shipping = [];
    <% Reward::SHIPPING.each do |ship| %>
      shipping.push("<%= ship.html_safe %>");
    <% end %>
  </script>

<%= flash[:errors] %>
<%= yield %>

</body>
</html>
